

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
  background-color: rgb(233, 233, 233);
  width: 100vw;
  height: 100vh;
}

.mini-title{
  color: rgb(107, 107, 107);
}

.event-container{
   color: rgb(107, 107, 107);
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.create-event{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 40vw;
  background-color:white;
  z-index: 1000;
}

.events{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 40vw;
  background-color:white;
  z-index: 1000;
}





